<!--            <div class="form-panel">-->
            <!--                <h5><br/>-->
            <!--                    Напишіть нам і ми Вам зателефонуємо!-->
            <!--                </h5>-->
            <!--                <form action="" name="form-4">-->
            <!--                    <p>-->
            <!--                        <input-->
            <!--                                type="text"-->
            <!--                                placeholder="Ім'я"-->
            <!--                                class="name"-->
            <!--                                name="name"-->
            <!--                        />-->
            <!--                    </p>-->
            <!--                    <p>-->
            <!--                        <input-->
            <!--                                type="text"-->
            <!--                                placeholder="Телефон"-->
            <!--                                class="tell"-->
            <!--                                name="tell"-->
            <!--                        />-->
            <!--                    </p>-->
            <!--                    <p>-->
            <!--                <textarea-->
            <!--                        name="text"-->
            <!--                        class="text"-->
            <!--                        placeholder="Повідомлення"-->
            <!--                ></textarea>-->
            <!--                    </p>-->
            <!--                    <p>-->
            <!--                        <button class="feedback" name="send">Надіслати</button>-->
            <!--                    </p>-->
            <!--                </form>-->
            <!--            </div>-->